


.ulanyjy-yagdayy--form{
    width: 100%;
    background-color: inherit;
    margin: 0 auto;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ulanyjy-yagdayy--form .ant-input-group-addon{
    width: 85px;
}
.ulanyjy-yagdayy--input{
 width:350px;
 margin: 10px;

}
.ulanyjy-yagdayy--button{
    margin: 5px;
}
.ulanyjy-yagdayy--form .buttons{
    display: flex;
    position: fixed;
    bottom:5vh;
}
.List_item{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
.check{
    font-size: 20px;
    width: 200px;
    font-weight:500 ;
    margin-top: 5px;
}