.sargyt-page{
    width: 80%;
    margin: 20px auto;
    height: 100vh;
}

.sargyt-form{
    border: 1px solid rgba(189, 232, 240, 0.644);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 5px rgb(214, 236, 240);
}

.sargyt-etyan{
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(45, 124, 148);

}
.sargyt-etyan>span{
    margin-left: 20px;
    color: rgb(34, 180, 199);
    font-weight: bold;
}



.sargyt-form .ant-select-selector{
    width: 350px !important;
    height: 45px !important;
    margin-top: 15px;
}
 .ant-input-group-addon{
     width: 130px;
     height: 45px;
 }
 .upload-input{
    position: relative;
    height: 45px;
    width: 350px;
}
.upload-input img{
    position: absolute;
    top: 17px;
    right: 35px;
   width: 40px;
   height: 40px;
   object-fit: contain;
}
 .sargyt-form .ant-select-selection-placeholder{
    height: 45px !important;
    line-height: 45px !important;
    font-size: 15px !important;
    margin-left: 15px;
 }
 .sargyt-form .ant-select-selection-item{
     height: 45px !important;
     line-height: 45px !important;
     font-size: 15px !important;
 }
 
 .form-inputs{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
 }

 .form-inputs .form-input{
     width: 350px ;
     margin-top: 15px;
 }
 .form-inputs .ant-input{
     height: 45px ;
 }

 .sargyt-form .button{
     width: 100%;
     margin: 20px auto;
     display: flex;
     justify-content: center;
 }

 