.LukmanTable{
    width: 100%;
    /* background-color:#1890ff; */
    margin: 0 auto;

}
.lukmanGoshmachaLi{
    margin: 10px;
    font-size: 17px;
}
.lukmanGoshmachaUl{
    list-style: none;
    margin: 0 auto;
}
#newOrders .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
    padding: 15px 0px;
}